@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,800;1,300&display=swap');

:root{
	font-family: 'Poppins';
	--main-color: black;
	--font-hover-color: goldenrod;
	scroll-behavior: smooth;
}

body{
	max-width: 1140px;
	margin: 0 auto;
	background-color: whitesmoke;
    	font-family: 'Poppins'
}

h1, h2, p, div{
	margin: 0;
	padding: auto;
}
	
.WelcomeMessage h1{
	padding-top: 20px;
	font-size: 24px;
	margin: 24px;
    	font-weight: 100;
}

.WelcomeMessage{
    margin-top: 32px;
	border: 3px solid gold;
    border-radius: 5px;
}

.highlight{
	background-color: gold;
}

.calendar{
    	padding-top: 20px;
	text-align: left;
}

.months{
	margin-top: 16px;
	padding-top: 16px;
}

.events{
	padding-bottom: 10px;
}

.events img{
    display: block;
    width: 100%;
}

.card{
 	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    	transition: 0.3s;
}

.container{
	padding: 1em 0;
	text-align: center;
}
.container a{
	font-size: 16px;
	text-decoration: none;
	color: black;
	margin: auto;
}

@media (min-width: 400px){
	.wrapper{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 1fr;
}
}
	
@media (min-width: 500px){
	.wrapper {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 1fr;
}
}
		
@media (min-width: 600px){
	.wrapper{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 1fr 1fr;
}
}


input{
    	width: 100%;
    	padding: 20px 20px;
    	display: inline-block;
   	border: 1px solid #ccc;
   	border-radius: 3px;
    	box-sizing: border-box;
    	font-size: 16px;
}

input[type=submit]{
	background-color: gold;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}

input[type=submit]:hover{
    	background-color: lightblue;
}


textarea{
    	width: 100%;
    	margin-top: 16px;
    	padding: 20px 20px;
    	display: inline-block;
    	border: 1px solid #ccc;
    	border-radius: 3px;
    	box-sizing: border-box;
    	font-size: 16px;
    	font-family: 'Poppins';
}

footer{
    bottom: 0px;
    width: 100%;
    background: gray;
    font-size: 12px;
    font-family: 'Poppins';
    padding: 16px;
}

.main-content{
    display: flex;
    max-width: 1140px;
}

.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2{
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
}

.box .content{
    margin: 20px 0 0 0;
}

.left .content p{
    text-align: justify;
    font-family: 'Poppins';
}

.left .content .social{
    margin: 20px 0 0 0;
}

.left .content .social a{
    padding: 0 2px;
}

.left .content .social a span{
    height: 40px;
    width: 40px;
    background: gold;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.left .content .social a span:hover{
    background: goldenrod;
}

.main-content{
    color: white;
}

.btn {
    height: 40px;
    font-family: 'Poppins';
    width: 160px;
    background: gold;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}

.mynav{
    background: gold !important;
}

span{
    transition: all 0.5s ease;
}

span.fade{
    color: gold;
}

.image{
    max-width: 1140px;
    padding-top: 24px;
    padding-bottom: 48px;
}

.image-name{
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 500%;
  font-family: 'Poppins';
  font-weight: 800;
}
