@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,800;1,300&display=swap');

:root{
	font-family: 'Poppins';
	--main-color: black;
	--font-hover-color: goldenrod;
	scroll-behavior: smooth;
    padding-left: 5px;
    padding-right: 5px;
}

body{
	max-width: 1140px;
	margin: 0 auto;
	background-color: white;
    font-family: 'Poppins'
}

h1, h2, p, div{
	margin: 0;
	padding: auto;
}
	
.WelcomeMessage h1{
	padding-top: 20px;
	font-size: 24px;
	margin: 24px;
    font-weight: 100;
}

.WelcomeMessage{
    margin-top: 32px;
	border: 3px solid gold;
    border-radius: 5px;
}

.highlight{
	background-color: gold;
}

.calendar{
    padding-top: 20px;
	text-align: left;
}

.months{
	margin-top: 16px;
	padding-top: 16px;
}

.events{
	padding-bottom: 10px;
}

.events img{
    display: block;
    width: 100%;
}

.card{
 	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
}

.container{
	padding: 1em 0;
	text-align: center;
}
.container a{
	font-size: 16px;
	text-decoration: none;
	color: black;
	margin: auto;
}

@media (min-width: 400px){
	.wrapper{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 1fr;
}
}
	
@media (min-width: 500px){
	.wrapper {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 1fr;
}
}
		
@media (min-width: 600px){
	.wrapper{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 1fr 1fr;
}
}
input{
    width: 100%;
    padding: 20px 20px;
    display: inline-block;
   	border: 1px solid #ccc;
   	border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type=submit]{
	background-color: gold;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}

input[type=submit]:hover{
    background-color: lightblue;
}

textarea{
    width: 100%;
    margin-top: 16px;
    padding: 20px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins';
}

footer{
    max-width: 1140px;
    margin: 0 auto;
    bottom: 0px;
    width: 100%;
    background: lightgrey;
}

.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.225rem;
    font-weight: 300;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
}
.box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: gold;
}
.box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: black;
    top: -10px;
}
.left .content p{
    text-align: justify;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    height: 40px;
    width: 40px;
    background:gold;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background:goldenrod;
}
.center .content .fas{
    font-size: 18px;
    background:gold;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.center .content .fas:hover{
    background: gold;
}
.center .content .text{
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
}
.center .content .phone{
    margin: 15px 0;
}
.right form .text{
    font-size: 18px;
    margin-bottom: 2px;
    color:black;
}
.right form .msg{
    margin-top: 10px;
}
.right form input, .right form .msgForm{
    width: 100%;
    font-size: 1.0625rem;
    background:white;
    padding-left: 10px;
}
.right form input:focus,
.right form .msgForm:focus{
    outline-color: gold;
}
.right form input{
    height: 35px;
}

@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}

.btn {
    height: 40px;
    font-family: 'Poppins';
    width: 160px;
    background: gold;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    float: center;
}

.mynav{
    background: gold !important;
}

.image{
    width: 100%;
    height: auto;
    padding-top: 24px;
    padding-bottom: 48px;
}

.image-name{
    position: relative;
    text-align: center;
    color: white;
}

.loader{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    transition: all 0.5s;
}
.loader .ring{
    height: 45px;
    width: 45px;
    border: 5px solid #ddd;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader .ring:after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 5px solid gold;
    border-top-color: transparent;
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  100%{
    transform: rotate(360deg);
  }
}

.content .image{
    background: url("golden-_west.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
